<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn">
  <variable name="messageHead" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:upperCase=True} ${mdlc:item=sessionId} ${mdlc:item=sessionUser} ${mdlc:item=host} ${mdlc:item=port} ${mdlc:item=userIp} ${message}" />
  <variable name="errorFormat" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:upperCase=True} ${mdlc:item=sessionId} ${mdlc:item=sessionUser} ${mdlc:item=host} ${mdlc:item=port} ${mdlc:item=userIp} ${mdlc:item=eventId} ${mdlc:item=module} ${mdlc:item=requestDuration} ${mdlc:item=platformVersion} ${mdlc:item=integrationId} ${mdlc:item=commChannelId}'${message} ${onexception:${exception:format=ToString}}'" />
  <variable name="auditFormat" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:upperCase=True} ${mdlc:item=sessionId} ${mdlc:item=sessionUser} ${mdlc:item=userIp} ${mdlc:item=userActionUrl} ${mdlc:item=userActionStatus} ${mdlc:item=requestDuration} '${message}' '${mdlc:item=roleModification}'" />
  <variable name="integrationFormat" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:upperCase=True} ${mdlc:item=sessionId} ${mdlc:item=sessionUser} ${mdlc:item=host} ${mdlc:item=port} ${mdlc:item=userIp} ${mdlc:item=integrationId} ${mdlc:item=commChannelId} '${message}'" />
  <variable name="baseFormat" value="${messageHead}${newline}${onexception:${exception:format=ToString}}" />
  <variable name="mobileErrorFormat" value="${messageHead}" />
  <variable name="adapterFormat" value="[${date:format=yyyy-MM-dd HH\:mm\:ss,fff}][${level:upperCase=True}] ${mdlc:adapterContextProperty} ${message} ${newline} ${onexception:${exception:format=ToString}} ${mdlc:messageDetails} " />
  <variable name="shortDate" value="${date:format=yyyy-MM-dd}" />
  <variable name="yesterdayDate" value="${mdlc:item=yesterdayDate:format=yyyy-MM-dd}" />
  <variable name="logFileExtension" value="log" />
  <variable name="keepFileOpen" value="true" />
  <variable name="openFileCacheTimeout" value="30" />

  <!-- Logs path -->
  <!-- Название переменной installFolder менять нельзя. Значение менять можно -->
  <variable name="installFolder" value="${basedir}" />
  <variable name="systemLogPath" value="${installFolder}Logs/" />
  <variable name="systemLogArchivePath" value="${systemLogPath}Archive/" />
  <variable name="auditFileName" value="audit_" />
  <variable name="errorFileName" value="error_" />
  <variable name="systemFileName" value="system_" />
  <variable name="processFileName" value="process_" />
  <variable name="heartbeatFileName" value="heartbeat_" />
  <variable name="backupFileName" value="backup_" />
  <variable name="restoreFileName" value="restore_" />
  <variable name="transferFileName" value="transfer_" />
  <variable name="integrationFileName" value="integration_" />
  <variable name="integrationRawFileName" value="integration_raw_" />
  <variable name="rabbitmqFileName" value="rabbitmq_" />
  <variable name="upgradeFileName" value="upgrade" />
  <variable name="mobileErrorFileName" value="mobileError_" />
  <variable name="adapterFileName" value="adapter_internal_" />
  <variable name="adapterSystemFileName" value="${adapterFileName}system_" />
  <variable name="kafkaClientFileName" value="kafkaClient_" />
  <variable name="apigatewayFileName" value="apigateway_" />
  <!-- Logs archive settings -->
  <!-- Название переменной archiveLogSize менять нельзя. Значение менять можно -->
  <variable name="archiveLogSize" value="104857600" />
  <variable name="archiveDate" value="yyyyMMdd" />
  <!-- Название переменной archiveFilesCount менять нельзя. Значение менять можно -->
  <variable name="archiveFilesCount" value="30" />
  <variable name="archiveFileExtension" value="zip" />
  <variable name="enableArchiveFileCompression" value="true" />

  <targets async="true">
    <target name="auditFile" xsi:type="File"
            layout="${auditFormat}"
            fileName="${systemLogPath}${auditFileName}${shortDate}.${logFileExtension}"
            archiveFileName="${systemLogArchivePath}${auditFileName}${yesterdayDate}.${archiveFileExtension}"
            archiveDateFormat="${archiveDate}"
            keepFileOpen="${keepFileOpen}"
            openFileCacheTimeout="${openFileCacheTimeout}"
            maxArchiveFiles="${archiveFilesCount}"
            enableArchiveFileCompression="${enableArchiveFileCompression}"
            encoding="UTF-8" />

    <target name="errorsFile" xsi:type="File"
            layout="${errorFormat}"
            fileName="${systemLogPath}${errorFileName}${shortDate}.${logFileExtension}"
            archiveFileName="${systemLogArchivePath}${errorFileName}${yesterdayDate}.${archiveFileExtension}"
            archiveDateFormat="${archiveDate}"
            keepFileOpen="${keepFileOpen}"
            openFileCacheTimeout="${openFileCacheTimeout}"
            maxArchiveFiles="${archiveFilesCount}"
            enableArchiveFileCompression="${enableArchiveFileCompression}"
            encoding="UTF-8"/>

    <target name="integrationsFile" xsi:type="File"
            layout="${integrationFormat}"
            fileName="${systemLogPath}${integrationFileName}${shortDate}.${logFileExtension}"
            keepFileOpen="${keepFileOpen}"
            openFileCacheTimeout="${openFileCacheTimeout}"
            encoding="UTF-8" />

    <target name="systemFile" xsi:type="File"
            layout="${baseFormat}"
            fileName="${systemLogPath}${systemFileName}${shortDate}.${logFileExtension}"
            keepFileOpen="${keepFileOpen}"
            openFileCacheTimeout="${openFileCacheTimeout}"
            encoding="UTF-8"/>

    <target name="processFile" xsi:type="File"
            layout="${baseFormat}"
            fileName="${systemLogPath}${processFileName}${shortDate}.${logFileExtension}"
            archiveFileName="${systemLogArchivePath}${processFileName}${yesterdayDate}.${archiveFileExtension}"
            archiveDateFormat="${archiveDate}"
            maxArchiveFiles="${archiveFilesCount}"
            enableArchiveFileCompression="${enableArchiveFileCompression}"
            archiveAboveSize="${archiveLogSize}"
            encoding="UTF-8"/>

    <target name="heartbeatFile" xsi:type="File"
            layout="${baseFormat}"
            fileName="${systemLogPath}${heartbeatFileName}${shortDate}.${logFileExtension}"
            keepFileOpen="${keepFileOpen}"
            openFileCacheTimeout="${openFileCacheTimeout}"
            encoding="UTF-8" />

    <target name="backupFile" xsi:type="File"
            layout="${baseFormat}"
            fileName="${systemLogPath}${backupFileName}${shortDate}.${logFileExtension}"
            keepFileOpen="${keepFileOpen}"
            openFileCacheTimeout="${openFileCacheTimeout}"
            encoding="UTF-8"/>

    <target name="restoreFile" xsi:type="File"
            layout="${baseFormat}"
            fileName="${systemLogPath}${restoreFileName}${shortDate}.${logFileExtension}"
            keepFileOpen="${keepFileOpen}"
            openFileCacheTimeout="${openFileCacheTimeout}"
            encoding="UTF-8"/>

    <target name="transferFile" xsi:type="File"
            layout="${baseFormat}"
            fileName="${systemLogPath}${transferFileName}${shortDate}.${logFileExtension}"
            keepFileOpen="${keepFileOpen}"
            openFileCacheTimeout="${openFileCacheTimeout}"
            maxArchiveFiles="${archiveFilesCount}"
            encoding="UTF-8"/>

    <target name="integrationRawFile" xsi:type="File"
            layout="${baseFormat}"
            fileName="${systemLogPath}${integrationRawFileName}${shortDate}.${logFileExtension}"
            archiveFileName="${systemLogArchivePath}${integrationRawFileName}${yesterdayDate}.${archiveFileExtension}"
            archiveDateFormat="${archiveDate}"
            maxArchiveFiles="50"
            
            enableArchiveFileCompression="${enableArchiveFileCompression}"
            archiveAboveSize="${archiveLogSize}"
            encoding="UTF-8"/>

    <target name="rabbitmqFile" xsi:type="File"
            layout="${baseFormat}"
            fileName="${systemLogPath}${rabbitmqFileName}${shortDate}.${logFileExtension}"
            archiveFileName="${systemLogArchivePath}${rabbitmqFileName}${archiveDays}${yesterdayDate}.${archiveFileExtension}"
            archiveDateFormat="${archiveDate}"
            maxArchiveFiles="50"
            
            enableArchiveFileCompression="${enableArchiveFileCompression}"
            archiveAboveSize="${archiveLogSize}"
            encoding="UTF-8"/>

    <target name="upgradeFile" xsi:type="File"
            layout="${baseFormat}"
            fileName="${systemLogPath}${upgradeFileName}.${logFileExtension}"
            keepFileOpen="${keepFileOpen}"
            openFileCacheTimeout="${openFileCacheTimeout}"
            deleteOldFileOnStartup="true"
            encoding="UTF-8"/>

    <target name="mobileErrorFile" xsi:type="File"
            layout="${mobileErrorFormat}"
            fileName="${systemLogPath}${mobileErrorFileName}${mdlc:mobileDeviceId}.${logFileExtension}"
            keepFileOpen="${keepFileOpen}"
            openFileCacheTimeout="${openFileCacheTimeout}"
            deleteOldFileOnStartup="true"
            encoding="UTF-8"/>

    <target name="adapterFile" xsi:type="File"
            layout="${adapterFormat}"
            fileName="${systemLogPath}${adapterSystemFileName}${shortDate}.${logFileExtension}"
            archiveFileName="${systemLogArchivePath}${adapterSystemFileName}${yesterdayDate}.${archiveFileExtension}"
            maxArchiveFiles="${archiveFilesCount}"
            enableArchiveFileCompression="${enableArchiveFileCompression}"
            archiveAboveSize="${archiveLogSize}"
            encoding="UTF-8"/>
        
	<target name="adapterErrorFile" xsi:type="File"
            layout="${adapterFormat}"
            fileName="${systemLogPath}${adapterSystemFileName}${errorFileName}${shortDate}.${logFileExtension}"
            archiveFileName="${systemLogArchivePath}${adapterSystemFileName}${errorFileName}${yesterdayDate}.${archiveFileExtension}"
            maxArchiveFiles="${archiveFilesCount}"
            enableArchiveFileCompression="${enableArchiveFileCompression}"
            archiveAboveSize="${archiveLogSize}"
            encoding="UTF-8"/>
			
    <target name="adapterEndpointFile" xsi:type="File"
            layout="${adapterFormat}"
            fileName="${systemLogPath}${adapterFileName}${mdlc:postfix}${shortDate}.${logFileExtension}"
            archiveFileName="${systemLogArchivePath}${adapterFileName}${mdlc:postfix}${yesterdayDate}.${archiveFileExtension}"
            archiveDateFormat="${archiveDate}"
            maxArchiveFiles="50"
            enableArchiveFileCompression="${enableArchiveFileCompression}"
            archiveAboveSize="${archiveLogSize}"
            encoding="UTF-8"/> 
    
	<target name="adapterEndpointErrorFile" xsi:type="File"
            layout="${adapterFormat}"
            fileName="${systemLogPath}${adapterFileName}${mdlc:postfix}${errorFileName}${shortDate}.${logFileExtension}"
            archiveFileName="${systemLogArchivePath}${adapterFileName}${mdlc:postfix}${errorFileName}${yesterdayDate}.${archiveFileExtension}"
            archiveDateFormat="${archiveDate}"
            maxArchiveFiles="50"
            enableArchiveFileCompression="${enableArchiveFileCompression}"
            archiveAboveSize="${archiveLogSize}"
            encoding="UTF-8"/> 
			
    <target name="apigatewayFile" xsi:type="File"
            layout="${messageHead}"
            fileName="${systemLogPath}${apigatewayFileName}${shortDate}.${logFileExtension}"
            archiveFileName="${systemLogArchivePath}${apigatewayFileName}${yesterdayDate}.${archiveFileExtension}"
            maxArchiveFiles="${archiveFilesCount}"
            enableArchiveFileCompression="${enableArchiveFileCompression}"
            archiveAboveSize="${archiveLogSize}"
            encoding="UTF-8"/>

    <target name="kafkaClientFile" xsi:type="File"
            layout="${messageHead}"
            fileName="${systemLogPath}${kafkaClientFileName}${shortDate}.${logFileExtension}"
            archiveFileName="${systemLogArchivePath}${kafkaClientFileName}${yesterdayDate}.${archiveFileExtension}"
            maxArchiveFiles="${archiveFilesCount}"
            enableArchiveFileCompression="${enableArchiveFileCompression}"
            archiveAboveSize="${archiveLogSize}"
            encoding="UTF-8"/>
  </targets>
  <rules>
    <logger name="Platform" minlevel="Warn" maxlevel="Fatal" writeTo="errorsFile"/>
    <logger name="Platform" minlevel="Info" maxlevel="Fatal" writeTo="auditFile">
      <filters defaultAction="Log">
        <!-- Skip all GET request messages -->
        <!--<when condition="equals('${mdlc:item=eventId}','102') or equals('${mdlc:item=eventId}','103') or equals('${mdlc:item=eventId}','111')" action="Ignore" />-->
        <!-- Skip exception stack tracing -->
        <when condition="equals('${mdlc:item=eventId}','113')" action="Ignore" />
        <when condition="not equals('${mdlc:item=eventSource}','Session') and not equals('${mdlc:item=eventSource}','ExtAudit')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Platform" minlevel="Info" maxlevel="Warn" writeTo="systemFile">
      <filters defaultAction="Log">
        <!-- В системный лог пишутся сообщения которые не попали в другие логи -->
        <when condition="equals('${mdlc:item=eventSource}','Session') or equals('${mdlc:item=eventSource}','ExtAudit') or equals('${mdlc:item=eventSource}','IntegrationWithOdata') or equals('${mdlc:item=eventSource}','Transfer') or equals('${mdlc:item=eventSource}','Heartbeat') or equals('${mdlc:item=eventSource}','Backup') or equals('${mdlc:item=eventSource}','ODataRawMessage') or equals('${mdlc:item=eventSource}','Restore') or equals('${mdlc:item=eventSource}','RabbitMq') or equals('${mdlc:item=eventSource}','Adapter')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Platform" minlevel="Info" maxlevel="Fatal" writeTo="heartbeatFile">
      <filters defaultAction="Log">
        <when condition="not equals('${mdlc:item=eventSource}','Heartbeat')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Platform" minlevel="Info" maxlevel="Fatal" writeTo="backupFile">
      <filters defaultAction="Log">
        <when condition="not equals('${mdlc:item=eventSource}','Backup')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Platform" minlevel="Info" maxlevel="Fatal"  writeTo="restoreFile">
      <filters defaultAction="Log">
        <when condition="not equals('${mdlc:item=eventSource}','Restore')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Platform" minlevel="Info" maxlevel="Fatal" writeTo="transferFile">
      <filters defaultAction="Log">
        <when condition="not equals('${mdlc:item=eventSource}','transferFile')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Platform" minlevel="Info" maxlevel="Fatal" writeTo="rabbitmqFile">
      <filters defaultAction="Log">
        <when condition="not equals('${mdlc:item=eventSource}','RabbitMq')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Platform" minlevel="Info" maxlevel="Fatal" writeTo="integrationsFile">
      <filters defaultAction="Log">
        <when condition="not equals('${mdlc:item=eventSource}','IntegrationWithOdata')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Platform" minlevel="Info" maxlevel="Fatal" writeTo="integrationRawFile">
      <filters defaultAction="Log">
        <when condition="not equals('${mdlc:item=eventSource}','ODataRawMessage')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Platform" minlevel="Info" maxlevel="Fatal" writeTo="upgradeFile">
      <filters defaultAction="Log">
        <when condition="not equals('${mdlc:item=eventSource}','Upgrade')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Platform" minlevel="Info" maxlevel="Fatal" writeTo="mobileErrorFile">
      <filters defaultAction="Log">
        <when condition="not equals('${mdlc:item=eventSource}','MobileDevice')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Platform" minlevel="Info" maxlevel="Fatal" writeTo="console">
      <filters defaultAction="Log">
        <when condition="starts-with('${logger}','System.')" action="Ignore" />
      </filters>
    </logger>
    <logger name="Process" minlevel="Info" maxlevel="Fatal" writeTo="processFile"/>
    <logger name="KafkaClient" minlevel="Info" maxlevel="Fatal" writeTo="kafkaClientFile"/>
	<logger name="Adapter" minlevel="Warn" maxlevel="Fatal" writeTo="adapterErrorFile"/>
    <logger name="Adapter" minlevel="Info" maxlevel="Fatal" writeTo="adapterFile"/>
	<logger name="Adapter.Endpoint" minlevel="Warn" maxlevel="Fatal" writeTo="adapterEndpointErrorFile"/>
    <logger name="Adapter.Endpoint" minlevel="Info" maxlevel="Fatal" writeTo="adapterEndpointFile"/>
    <logger name="ApiGateway" minlevel="Info" maxlevel="Fatal" writeTo="apigatewayFile"/>
  </rules>
</nlog>
