<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="mi_out_gdo_ws305_get_materialsBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://prt-tst.portal.technoevolab.ru/XISOAPAdapter/MessageServlet?channel=:WebSite:CC_OUT_GDO_WS305_GET_MATERIALS&amp;version=3.0&amp;Sender.Service=WebSite&amp;Interface=http%3A%2F%2Fxerox.com%2Feurasia%2Fxi%2FCRM%2FGDO%5Emi_out_gdo_ws305_get_materials"
                binding="basicHttpBinding" bindingConfiguration="mi_out_gdo_ws305_get_materialsBinding"
                contract="mi_out_gdo_ws305_get_materials" name="mi_out_gdo_ws305_get_materialsPort" />
        </client>
    </system.serviceModel>
</configuration>